h2 {
    text-align: center;
}

ul {
    margin-left: 10%;
}

.circle {
    list-style-type: circle;
}

.square {
    list-style-type: square;
}

ol {
    margin-left: 10%;
}

.abc {
   list-style-type: lower-latin; 
}

.ABC {
    list-style-type: upper-latin;
}

.iii {
    list-style-type: lower-roman;
}

.III {
    list-style-type: upper-roman;
}