.container {
    width: 60%;
    height: 500px;
    background-color: #e45d44;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 20px;
    text-align: center;
}

.login {
    background-color: #e6e4e4;
    height: 58%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    box-shadow: 5px 3px 8px 3px #b74a36;
}

.login h2 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.login input {
    width: 90%;
    height: 30px;
    margin: 10px;
    border: none;
    outline: none;
}

.login input::placeholder {
    text-align: center;
    color: #e0d7d2;
    font-weight: bold;
}

.login button {
    width: 90%;
    height: 30px;
    margin: 12px;
    background-color: #32a75a;
    border: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
    box-shadow: 2px 2px 4px 1px #09752e;
    color: white;
}

.login button:hover {
    background-color: #119941;
    transform: scale(1.0);
}

.login a {
    color: #e47259;
    font-size: 13px;
    text-decoration: none;
}

.login a:hover {
    color: #c94b2f;
}

.login a:visited {
    color: #c4300e;
}

.container p {
    color: white;
    font-size: 14px;
}

.container button {
    height: 30px;
    width: 150px;
}

.container button a {
    text-decoration: none;
    color: white;
}

.facebook {
    background-color: #3a5ba0;
    outline: none;
    border: none;
}

.twitter {
    background-color: #1bb6ea;
    outline: none;
    border: none;
}