.container {
    height: 800px;
    position: relative;
    background: rgba(94, 172, 94, 0.8);
    margin: 10px;
    padding: 20px;
    box-shadow: inset 0 2px 2px rgb(83, 80, 80);
}

.block {
    /* width: 40%; */
    background-color: rgb(197, 238, 207);
    padding: 20px;
    box-shadow: 1px 1px 3px 1px rgb(78, 75, 75);
    left: 50%;
    bottom: 0;
}

.boll {
    background-color: rgb(125, 166, 228);
    position: absolute;
    /*fixed*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 1.5s;
    transition: all 2s linear;
    /* transition-timing-function: ease-in-out; */
    /* left: 50%;
    top: 50px; */
    left: 0;
    top: 0;
    animation-name: some-animation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}

.boll:hover {
    background-color: rgb(216, 106, 157);
    /* width: 150px;
    height: 150px;
    left: 50%;
    top: 50%; */
    transform: scale(2);
    transform: translate(100%);
    transform: skew(20deg);
    transform: rotate(180deg);
}

@keyframes some-animation {
    /* from {
    left: 0; top: 0;
}
to {
    left: 0; top: 70%;
} */
    0% {
        left: 0;
        top: 0;
        background-color: red;
    }
    25% {
        left: 50%;
        top: 0;
        background-color: yellow;
    }
    50% {
        left: 50%;
        top: 90%;
        background-color: green;
    }
    100% {
        left: 0;
        top: 0;
        background-color: black;
    }
}